<% include ../header %>

    <div id="form_content">

    </div>

    <div id="table_content">

    </div>


    <script type='text/javascript' src="/javascripts/main/lectures.js"></script>

<% include ../footer %>
