<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="./javascripts/jquery-3.2.0.min.js"></script>

  <title>Hello, world!</title>
</head>

<body>

  <div class="container-fluid">


    <div class="container" style="margin-top: 50px">
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" placeholder="First Name">
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" placeholder="Last Name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Address">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" id="phone" placeholder="Phone">
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="religion">Religion</label>
            <input type="text" class="form-control" id="religion" placeholder="Religion">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="major">Major</label>
            <input type="text" class="form-control" id="major" placeholder="Major">
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status" placeholder="Status">
          </div>
        </div>
      </div>

      <div class="row" align="right">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <button type="button" id="register" class="btn btn-danger">REGISTER</button>
        </div>
      </div>


      <div class="row" align="right" style="margin-top: +30px">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="Search">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <table class="table table-striped" id="table_user">
            <thead>
              <tr>
                <th>User</th>
                <th>User Detail</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

    </div>



  </div>





  <script>
    get_table_data();
    
    $("#register").click(function () {
      var first_name = $("#first_name").val();
      var last_name = $("#last_name").val();
      var email = $("#email").val();
      var address = $("#address").val();
      var phone = $("#phone").val();
      var religion = $("#religion").val();
      var major = $("#major").val();
      var status = $("#status").val();

      let dt = {
        first_name,
        last_name,
        email,
        address,
        phone,
        religion,
        major,
        status
      }
      $.post("/api/users", dt, function(res){
          get_table_data();
      })
    })

    
    function get_table_data() {
      $("#table_user tbody").empty();
      $.get("/api/users").done(function(res){
        res.forEach(v => {
          let el = `
          <tr>
            <td>
              <b>${v.first_name.toUpperCase()}, ${v.last_name.toUpperCase()}</b>
              <br />${v.major}
            </td>
            <td>
              ${v.email} | ${v.phone}<br />
              ${v.address}, ${v.status}<br />
            </td>
            <td>
              <a href="#" class="edit" dt="${v.user_key}">
                <span class="badge badge-warning">Edit</span>
              </a> |
              <a href="#" class="view" dt="${v.user_key}">
                <span class="badge badge-primary">View</span>
              </a> |
              <a href="#" class="delete" dt="${v.user_key}">
                <span class="badge badge-danger">Delete</span>
              </a>
            </td>
          </tr>
          `;
          $("#table_user tbody").append(el);
        });
      });
    }

    $("#table_user").on("click", ".edit", function () {
      id = $(this).attr("dt");
      alert(id + " Clicked!!");
    })

    $("#search").on("keyup", function () {
      txt = $(this).val().toLowerCase();
      $("#table_user tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(txt) > -1);
      })
    })
  </script>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  </script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script> -->
</body>

</html>
