<table id="table_lecturers" border="1">
  <thead>
    <td>
      Lecturers
    </td>
    <td>
      Actions
    </td>
  </thead>
  <tbody>
  </tbody>
</table>

<script type='text/javascript' src="/javascripts/partials/table_lecturer.js"></script>
